// -----------------------------------------------------------------------------
// This file contains all style from the view Home
// -----------------------------------------------------------------------------
* {
  font-family: "Spartan", sans-serif;
  margin: 0px;
  background: hsl(180, 52%, 96%);
}
.background {
  background: url(../img/bg-header-desktop.svg);
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
  background-color: hsl(180, 29%, 50%);
}
.grid {
  padding-left: 30px;
  padding-right: 30px;
  width: 1140px;
  margin: auto;
  display: block;
}
.col-lg-2 {
  background: #fff !important;
  display: inline-block;
  width: 20%;
  float: left;
}
.circle {
  background: #fff !important;
}
img {
  background: #fff;
}
.col-lg-10 {
  background: #fff !important;
  display: inline-block;
  width: 80%;
  float: right;
  padding-top: 10px;
}
h6,
p,
h2,
span {
  background: #fff !important;
  text-align: left;
}
h6 {
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  font-size: 12px;
  padding-left: 8px;
  margin-left: 0px;
  margin-top: auto;
}
h2 {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  margin-left: 0px;
  margin-top: auto;
}
span {
  color: hsl(180, 8%, 52%);
  font-weight: 300;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 0px;
  margin-top: auto;
}
.shape {
  width: 100px;
  background: hsl(180, 52%, 96%) !important;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 5px;
  display: inline-block;
}
p {
  margin-left: 0px;
  margin-top: auto;
}
.shape p {
  background: hsl(180, 52%, 96%) !important;
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  margin-top: 0px;
  margin-left: 0px;
}
.icon-img {
  width: 80%;
}
.new {
  padding: 5px;
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  border-radius: 50px;
  font-size: 12px;
  margin-left: 10px;
}
.featured {
  margin-left: 10px;
  padding: 5px;
  color: #000;
  font-weight: bold;
  border-radius: 50px;
  font-size: 12px;
}
// -----------------------------------------------------------------------------
// MediaQuerys for Mobile Resolutions
// -----------------------------------------------------------------------------
@media only screen and (min-width: 320px) {
  .background {
    background: url(../img/bg-header-mobile.svg);
    background-color: hsl(180, 29%, 50%);
  }
  .grid {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .icon-img {
    width: 80%;
    margin-top: -36px;
    background: none;
  }
  h6 {
    margin-left: -50px;
    margin-top: 20px;
  }
  h2 {
    margin-left: -50px;
  }
  p {
    margin-left: -50px;
  }
  .shape {
    margin-top: 0px;
  }
}
// -----------------------------------------------------------------------------
// MediaQuerys for Desktop Resolutions
// -----------------------------------------------------------------------------
@media only screen and (min-width: 1280px) {
  .background {
    background: url(../img/bg-header-desktop.svg);
    width: 100%;
    height: 100px;
    margin-bottom: 60px;
    background-color: hsl(180, 29%, 50%);
  }
  .grid {
    padding-left: 30px;
    padding-right: 30px;
    width: 1140px;
    margin: auto;
    display: block;
  }

  .col-lg-2 {
    background: #fff !important;
    display: inline-block;
    width: 20%;
    float: left;
  }
  .circle {
    background: #fff !important;
  }
  img {
    background: #fff !important;
  }
  .col-lg-10 {
    background: #fff !important;
    display: inline-block;
    width: 80%;
    float: right;
    padding-top: 10px;
  }
  h6,
  p,
  h2,
  span {
    background: #fff !important;
    text-align: left;
  }

  h6 {
    color: hsl(180, 29%, 50%);
    font-weight: bold;
    font-size: 12px;
    padding-left: 8px;
    margin-left: 0px;
  }
  h2 {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    margin-left: 0px;
  }
  span {
    color: hsl(180, 8%, 52%);
    font-weight: 300;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0px;
  }
  p {
    margin-left: 0px;
  }
  .shape {
    width: 100px;
    background: hsl(180, 52%, 96%) !important;
    border-radius: 5px;
    margin-top: 35px;
    margin-right: 5px;
    display: inline-block;
  }
  .shape p {
    background: hsl(180, 52%, 96%) !important;
    color: hsl(180, 29%, 50%);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 13px;
  }
  .icon-img {
    width: 80%;
    margin-top: 0px;
  }
}