/*-----------------------------------------------------------------------------
// This file contains all style of the grid and the estructured from the HtML.
// -----------------------------------------------------------------------------
*/
.container {
  margin: 0 auto;
  background-color: #eee;
  max-width: 980px;
  min-width: 320px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-shadow: -2px 6px 9px 0px hsl(180deg 29% 83%);
  border-left: 6px solid #5ba4a4;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
}
.column {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  padding: 10px;
}
.col-1 {
  max-width: calc(100% / 12);
}
.col-2 {
  max-width: calc(100% / 12 * 2);
}
.col-3 {
  max-width: calc(100% / 12 * 3);
}
.col-4 {
  max-width: calc(100% / 12 * 4);
}
.col-5 {
  max-width: calc(100% / 12 * 5);
}
.col-6 {
  max-width: calc(100% / 2);
  background: #fff !important;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.title {
  font-weight: 100;
  padding: 10px;
  text-align: center;
}
.hi {
  color: #aaa;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    overflow: auto;
  }
  .column {
    min-width: 100%;
    width: 100%;
    /* margin: 10px 0;*/
  }
  .row {
    width: 95%;
    margin-bottom: 50px;
  }
  .col-6 {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
}